$body-bg: #fff;
$nav-bg: #1b193e;

$z-index-navbar: 15;
$z-index-megamenu-content: $z-index-navbar - 1;
$z-index-megamenu-bg: $z-index-megamenu-content - 1;
$z-index-megamenu-dim: $z-index-megamenu-bg - 1;

$navbar-height: 54px;

.megamenu {
    background: $nav-bg;
    z-index: $z-index-navbar;
    position: relative;

    .card-title a {
        text-decoration: none;
        color: #212529;
        &:hover {
            color: #0a58ca;
        }
    }

    .megamenu-nav {
        padding: 0;
        margin: 0;

        .nav-item {
            display: block;

            &.is-open {
                >.megamenu-content {
                    visibility: visible;
                    opacity: 1;
                }

                >.nav-link {
                    background: #fff;
                    color: #333;
                }
            }
        }

        .nav-item .nav-icons {
            position: relative;
            top: -1px;
            margin-right: 5px;
        }


        .nav-link {
            color: #fff;
            padding: 15px 30px;

            &:hover {
                background: #fff;
                color: #333;
            }
        }
    }

    .megamenu-content {
        position: absolute;
        left: 0;
        right: 0;
        top: $navbar-height;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: $z-index-megamenu-content;
        transition: all .3s ease-in-out;

        .container {
            padding: 45px 15px;
        }

        .card {
            border: 0;
            border-radius: 0;

        }

        .card-body {
            padding: 1rem 0.5rem;
        }

        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
        }

        .card-img-top {
            border-radius: 0;
            max-width: 250px;
            max-height: 250px;
            min-height: 250px;
            object-fit: contain;
            padding: 0 1rem;
        }

        .card-footer {
            border: 0;
            background-color: transparent;
        }




        .subnav-item {
            display: block;

            .subnav-link {
                padding: 10px 0;
                display: block;
            }


        }
    }
}

.megamenu-background {
    background: #fff;
    position: absolute;
    left: 0;
    top: $navbar-height;
    right: 0;
    height: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    z-index: $z-index-megamenu-bg;
}

.megamenu-dim {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 265px;
    visibility: hidden;
    opacity: 0;
    z-index: -$z-index-megamenu-dim;
    transition: all .3s ease-in-out;

    body.megamenu-visible & {
        z-index: $z-index-megamenu-dim;
        visibility: visible;
        opacity: 1;
    }
}