.tab-product {
    justify-content: space-between;
    overflow: hidden;
    .nav-link {
        border: 0;
        border-radius: 0!important;
        background-color: transparent;
        font-size: 20px;
        outline: none;
    }

    .nav-link.active {
        color: inherit!important;
        background: #DAE6F2!important;
    }

    
 
}


.tabs-modif {
	display: flex;
	align-items: center;
    justify-content: center;
    overflow: hidden;
	background-color: #E8E8E8;
    padding: 10px 0;
    position: relative;
    top: 0px;
    span {
        font-size: 18px;
        margin-right: 10px;    
    }

    .nav-pills .nav-link.active {
        background-color: transparent;
        color: #212529;
    }

    .nav-pills .nav-link {
        border-radius: 0;
        color: #6e6e6e;
        outline: none;
        font-size: 20px;
    }

    .nav-link {
        background-color: transparent;
        border: 0;
      
    }

    .nav-link.active {
       
        border-bottom: 3px solid #212529;;
    }
}


.tab-doc {

    &__nav .nav-link {
        background-color: transparent;
        border: 0;
        border-radius: 0!important;
        font-size: 20px;
        margin-right: 50px;
        opacity: 0.6;
        outline: none;
    }

    &__nav .nav-link.active {
        background-color: transparent!important;
        color: inherit!important;
        opacity: 1;
    }

    .nav-link {
        background-color: transparent;
        border: 0;
        border-radius: 0!important;
        text-align: start;
        margin-bottom: 20px;
        padding: 0.8rem 1rem;
    }

    .nav-link .arrows {
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        position: relative;
        top: -2px;
    }

    .nav-link:hover .arrows  {
        transform: translateX(8px);
        transition: .3s ease;
    }

    .nav-link.active .arrows {
        transform: translateX(8px);
    }

   

 

    .nav-link.active {
        background-color: #1b193e!important;
        border-radius: 0!important;
    }

  
}